<<<<<<< HEAD
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

=======
<div class="wrapper">
<div class="login"><h2>Sign up</h2></div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
>>>>>>> 1b6041166f722c8629662e7c19dda5d0599b5ae7
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
<<<<<<< HEAD
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
=======
>>>>>>> 1b6041166f722c8629662e7c19dda5d0599b5ae7
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
<<<<<<< HEAD
    <%= f.input :photo,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "photo" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
=======
</div>
  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "button" %>
  </div>
<% end %>
<div class="links">
<%= render "devise/shared/links" %>
</div>
</div>
>>>>>>> 1b6041166f722c8629662e7c19dda5d0599b5ae7
