<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-guitar"><i class="text1">Studio</i><i class="text">RNB</i></i>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in?%>
        <li class="nav-item active">
        <%= link_to "Your Dashboard", dashboards_path, class: "nav-link"%>
        </li>
        <li class="nav-item active">
          <%= link_to "Post Your Studio", new_studio_path, class: "nav-link"%>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active"><%= link_to "login", new_user_session_path, class: "nav-link" %></li>
        <li class="nav-item active"><%= link_to "sign up", new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</div>
