<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-guitar"><i class="text1">Studio</i><i class="text">RNB</i></i>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class = 'signed_in'>
        <% if user_signed_in?%>
          <div class="d-flex">
            <li><%= link_to "Post Your Studio", new_studio_path, class: "nav-link" %></li>
            <li class="nav-item dropdown">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill,
                  class: "avatar avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                  <%= image_tag "https://thumbs.dreamstime.com/b/icono-de-avatar-dj-estilo-simple-vectorial-para-dise%C3%B1o-web-aislado-en-fondo-blanco-164370922.jpg",
                  class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Your Dashboard", dashboards_path, class: "dropdown-item" %>
                <%= link_to "My studios", dashboards_studios_path, class: "dropdown-item" %>
                <%= link_to "Edit your User", edit_user_registration_path, class: "dropdown-item"%>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </div>
      </div>
      <div class = 'signed_out'>
        <% else %>
          <div class="d-flex">
            <li class="nav-item active"><%= link_to "login", new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item active"><%= link_to "sign up", new_user_registration_path, class: "nav-link" %></li>
          </div>
        <% end %>
      </div>
    </ul>
  </div>
</div>
