<h1>This studio reservations</h1>



<div class="card-grid">
  <% @reservations.each do |reservation| %>
    <div class="card-product">
      <div class="card-product-infos">
        <div class="card-info-header d-flex justify-content-between align-items-center">
          <h2 class="mr-2"><span class="pink-2"><%= reservation.user.email %></span></h2>
          <div class="avatar">profile pic here</div>
        </div>
        <p>from: <span class="date"><%= reservation.start_on.to_formatted_s(:long_ordinal) %></span></p>
        <p>to: <span class="date"><%= reservation.end_on.to_formatted_s(:long_ordinal) %></span></p>
        <div class="status d-flex justify-content-between align-items-center">
          <p>Status:
            <% if reservation.approved %>
              <span class="approved">Approved</span>
            <% else %>
              <span class="panding">Pending</span>
            <% end %>
          </p>
          <div class="control-links">
            <%= link_to "Approve", studio_reservation_path(params[:studio_id] ,reservation, approved: true), method: :patch, class: "reservation-control approved" %>
            <%= link_to "Decline", studio_reservation_path(params[:studio_id] ,reservation, approved: false), method: :patch, class: "reservation-control panding" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
