<<<<<<< HEAD
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
=======

<div class="wrapper">
<div class="login"><h2>Log in</h2></div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
      <div class="inline-input d-flex">
>>>>>>> 1b6041166f722c8629662e7c19dda5d0599b5ae7
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
<<<<<<< HEAD
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
=======
       </div>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions d-flex">
    <%= f.button :submit, "Log in", class: "button"  %>
  </div>
<% end %>
<div class="links">
<%= render "devise/shared/links" %>
</div>
</div>
>>>>>>> 1b6041166f722c8629662e7c19dda5d0599b5ae7
