<div class = 'avatar'>
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill %>
    <% else %>
      <p>no image available</p>
    <% end %>
</div>
<h1>Hello <span class="pink"><%= current_user.name %></span> we love you.</h1>

<h4>Your Reservations:</h4>
<br>

<div class="card-grid">
  <% @reservations.each do |reservation| %>
    <div class="card-product">
      <div class="card-product-infos">
        <div class="card-info-header d-flex align-items-center">
          <h2 class="mr-2"><span class="pink-2"><%= reservation.studio.name %></span></h2>
          <p>at <%= reservation.studio.location %></p>
        </div>
        <p><%= reservation.start_on.to_formatted_s(:long_ordinal) %> to <%= reservation.end_on.to_formatted_s(:long_ordinal) %></p>
        <p>Status:
          <% if reservation.approved %>
            <span class="approved">Approved</span>
          <% else %>
            <span class="panding">Pending</span>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
