<div class="index-container-headline">
  <span class="headline"><h1>Studios near you in <span class="pink">Berlin</span></h1></span>
  </div>
    <div class="card-grid">
      <% @studios.each do |studio| %>
        <div class="card-studio">
        <% if studio.photo.attached? %>
          <div class="card-image"></div> <%= cl_image_tag studio.photo.key, height: 300, width: 350, crop: :fill %>
          <% else %>
            <div class="card-image">
              <p>no image available</p>
            </div>
        <% end %>
        <div class="content">
          <div class="text">
            <h3><%= studio.name %></h3>
            <h4><%= studio.location%></h4>
            <p><%= studio.description %></p>
          </div>
        <div class="button"><%= link_to 'Details', studio_path(studio) %></div>
      </div>
    </div>
    <% end %>
</div>
