<div>
  <div class="index-container">
    <div class="index-container-headline">
      <span class="headline"><h1>Studios near you in <span class="pink">Berlin</span></h1></span>
    </div>
  </div>
  <div class="card-grid">
    <% @studios.each do |studio| %>
      <div class="card-studio">
        <div class="card-image">
          <% if studio.photo.attached? %>
            <%= cl_image_tag studio.photo.key, height: 300, width: 500, crop: :fill %>
          <% else %>
            <%= image_tag "default-studio.jpg", height: 300, width: 500, crop: :fill %>
          <% end %>
        </div>
        <div class="content">
          <div class="text">
            <h3><%= studio.name %></h3>
            <h4><%= studio.location%></h4>
              <div class="desc">
                <p><%= studio.description %></p>
              </div>
              <div class="price">
                <h5><%= studio.price.to_i %> € / Day</h5>
              </div>
          </div>
          <div class="button">
            <%= link_to 'Details', studio_path(studio) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
