<div class="wrapper">
  <%= simple_form_for @studio do |f| %>
    <div class="form-inputs">
      <div class="inline-input d-flex">
        <%= f.input :name %>
        <%= f.input :size %>
      </div>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :equipment %>
      <%= f.input :description %>
    </div>

    <div class="form-actions d-flex align-items-end">
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, 'Post your Studio', class: "button" %>
    </div>
  <% end %>
</div>
