<h1><%= @studio.name %></h1>
<br>
<%= cl_image_tag @studio.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<p>DETAILS:
<%= @studio.description %>
</p>
<br>
<p>
SIZE: <%= @studio.size %> m2
</p>
<br>
<p>
EQUIPMENT: <%= @studio.equipment %>
</p>
<br>
<p>
LOCATION: <%= @studio.location %>
</p>
<br>
<%= link_to "Go to all studios", root_path %>
<br>
<%= link_to 'See all reservations of this studio', studio_reservations_path(@studio) %>
<br>
<%= simple_form_for([@studio, @reservation]) do |f| %>
  <p>Start date:</p>
  <%= f.date_select :start_on %>
  <br>
  <p>End date:</p>
  <%= f.date_select :end_on %>
  <br>
  <%= f.submit %>
</p>
<br>
<p>
<%= link_to 'Edit the data', edit_studio_path %>
<br>
<%= link_to "Delete Studio", studio_path(@studio), method: :delete, data: {confirm: "Are you sure?"} %>

<% end %>
