<h1><%= @studio.name %></h1>

<p>DETAILS:
<%= @studio.description %>
</p>
<br>
<p>
SIZE: <%= @studio.size %> m2
</p>
<br>
<p>
EQUIPMENT: <%= @studio.equipment %>
</p>
<br>
<p>
LOCATION: <%= @studio.location %>
</p>
<br>

<%= link_to "Go to all studios", root_path %>
