<div class=“container”>
  <% if @studio.photo.attached? %>
    <div class="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @studio.photo.key %>)"></div>

  <% end %>
    <h1 id=‘studioName’><strong><%= @studio.name %></strong></h1>
  </div>
<div class=“content-wrapper d-flex justify-content-between”>
  <div class=‘container-text col-8’>
    <div class=“d-flex justify-content-between”>
      <div class=“d-flex mt-3”>
        <p class="mr-3">size: <%= @studio.size %> m2</p>
        <p>location: <%= @studio.address %></p>
      </div>

    </div>
    <div>
      <p>equipment: <%= @studio.equipment %></p>
      <p><%= @studio.description %></p>
    </div>
  </div>
  <div class=‘form’>
  <%= simple_form_for([@studio, @reservation]) do |f| %>
    <div class=‘form-group’>
      <label>Start date</label>
      <div class=‘form-control’>
        <%= f.date_select :start_on %>
      </div>
    <div class=‘form-group’>
      <label>End date</label>
      <div class=‘form-control’>
        <%= f.date_select :end_on %>
      </div>
    </div>
  </div>
  <div> <%= f.button :submit, "Reserve", class: "button" %>
  </div>
  </div>
</div>
<% end %>
