<h1><%= @studio.name %></h1>

<p>DETAILS:
<%= @studio.description %>
</p>
<br>
<p>
SIZE: <%= @studio.size %> m2
</p>
<br>
<p>
EQUIPMENT: <%= @studio.equipment %>
</p>
<br>
<p>
LOCATION: <%= @studio.location %>
</p>
<br>
<%= link_to "Go to all studios", root_path %>
<br>
<br>
<%= simple_form_for([@studio, @reservation]) do |f| %>
  <p>Start date:</p>
  <%= f.date_select :start_on %>
  <br>
  <p>End date:</p>
  <%= f.date_select :end_on %>
  <br>
  <%= f.submit %>
</p>
<br>
<p>
<%= link_to 'Edit the datas', edit_studio_path %>
<br>
<%= link_to "Delete Studio", studio_path(@studio), method: :delete, data: {confirm: "Are you sure?"} %>

<% end %>
