<h1><%= @studio.name %></h1>
<br>
  <% if @studio.photo.attached? %>
    <%= cl_image_tag @studio.photo.key, height: 150, width: 200, crop: :fill %>
  <% else %>
    <%= image_tag "default-studio.jpg", height: 150, width: 200, crop: :fill %>
  <% end %>
<br>
<p>Details:
<%= @studio.description %>
</p>
<br>
<p>
Size: <%= @studio.size %> m2
</p>
<br>
<p>
Equipment: <%= @studio.equipment %>
</p>
<br>
<p>
Address: <%= @studio.address %>
</p>
<br>
<p>
Price: <%= @studio.price %>€
</p>
<%= link_to "Go to all studios", root_path %>
<br>
<%= link_to 'See all reservations of this studio', studio_reservations_path(@studio) %>
<br>
<%= simple_form_for([@studio, @reservation]) do |f| %>
  <p>Start date:</p>
  <%= f.date_select :start_on %>
  <br>
  <p>End date:</p>
  <%= f.date_select :end_on %>
  <br>
  <%= f.submit %>
</p>
<br>
<p>
<%= link_to 'Edit the data', edit_studio_path %>
<br>
<%= link_to "Delete Studio", studio_path(@studio), method: :delete, data: {confirm: "Are you sure?"} %>

<% end %>
