          <% if @studio.photo.attached? %>
            <% photo = cl_image_path @studio.photo.key %>
          <% else %>
            <% photo = image_path 'default-studio.jpg'%>
          <% end %>

    <div class="banner border-rounded" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= photo %>);">
        <h1 id=‘studioName’ class="text-center"><strong><%= @studio.name %></strong></h1>
    </div>

<div class=“content-wrapper d-flex justify-content-between”>
  <div class=‘container-text col-8’>
    <div class=“d-flex justify-content-between”>
      <div class="d-flex mt-3">
        <p class="mr-3"><strong>Size:</strong> <%= @studio.size %>m2</p>
        <p><strong>location:</strong>: <%= @studio.address %></p>
      </div>

    </div>
    <div>
      <p><strong>equipment:</strong> <%= @studio.equipment %></p>
      <p><%= @studio.description %></p>
    </div>
    <hr>
    <div>
      <p><strong>Description:</strong> <%= @studio.description %></p>
      <p><%= @studio.description %></p>
    </div>
  </div>
  <div class="form">
    <div class="d-flex">
      <%= simple_form_for([@studio, @reservation]) do |f| %>
        <div class=‘form-group’>
          <label>From:</label>
          <div class=‘form-control’>
            <%= f.date_select :start_on %>
          </div>
          <div class=‘form-group’>
          <label>To:</label>
          <div class=‘form-control’>
            <%= f.date_select :end_on %>
          </div>
        </div>
        <div>
          <%= f.button :submit, "Reserve", class: "button" %>
        </div>
      </div>
    </div>
</div>
<% end %>
